<h1>
    {{ currentHero.id ? 'Editar' : 'Agregar' }} Héroe
    <small *ngIf="currentHero.id">{{currentHero.superhero}}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Super Heroe</mat-label>
                        <input type="text" matInput required placeholder="super heroe" formControlName="superhero">
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter Ago</mat-label>
                        <input type="text" matInput required placeholder="alter ago" formControlName="alter_ego">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Primera Aparicion</mat-label>
                        <input type="text" matInput required placeholder="primera aparicion" formControlName="first_appearance">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input type="text" matInput required placeholder="personajes" formControlName="characters">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Creador</mat-label>
                        <mat-select required="" formControlName="publisher">
                            <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                                {{ publisher.desc }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Alternative Image</mat-label>
                        <input type="text" matInput placeholder="Imagen alternativa" formControlName="alt_img">
                    </mat-form-field>
                </form>
                <div class="flex justify-content-between">
                    <button *ngIf="currentHero.id" mat-flat-button color="warn" (click)="onDeleteHero()">Borrar</button>
                    <span></span>
                    <button mat-flat-button color="primary" (click)="onSubmit()"><mat-icon>save</mat-icon> Guardar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-12 sm:col-6">
        <mat-card>
            <img [src]="currentHero | heroImage" alt="imagen del heroe" mat-card-image>
        </mat-card>
    </div>
</div>